In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import myutils

In [2]:
alarms = pd.read_csv('Data\Processed\Alarms.csv')
global_id = pd.read_csv('Data\Processed\Globalid.csv')
temp =pd.read_csv('Data\Processed\\temp_groups.csv')

In [3]:
alarms.head()

,Unnamed: 0,SiteID,SiteName,description,StoreNumber,Division,LogID,Cleared_Action,ReasonID,ReasonText,reportedtime,receivedtime,severity,severitytext,severityphrase,Repeated_Count,Total_Alarm_Count
0,0,1233,Dinosol 9338 Valle San Lorenzo,Dinosol 9338:0:SYS.RKS.RK[2].SGS.SG[1].CTS.CT[...,9338,No Region,8318280,clearedautomatic,846,--- High Temp.,2021-05-01 23:46:29.000,2021-05-02 00:54:26.000,0,critical,criticalhigh,0,1
1,1,1233,Dinosol 9338 Valle San Lorenzo,:0:SYS.RKS.RK[2].SGS.SG[1].CTS.CT[12].CAS.CA[1],9338,No Region,8321224,clearedautomatic,1187,Offline,2021-05-02 10:28:15.000,2021-05-02 11:29:18.000,2,critical,criticallow,0,1
2,2,1233,Dinosol 9338 Valle San Lorenzo,Dinosol 9338:0:SYS.RKS.RK[2].SGS.SG[1].CTS.CT[...,9338,No Region,8321264,clearedcallout,1187,Offline,2021-05-02 10:40:16.000,2021-05-02 11:44:02.000,2,critical,criticallow,0,1
3,3,1233,Dinosol 9338 Valle San Lorenzo,Dinosol 9338:0:SYS.RKS.RK[2].SGS.SG[1].CTS.CT[...,9338,No Region,8321469,clearedautomatic,846,--- High Temp.,2021-05-02 11:56:54.000,2021-05-02 13:01:35.000,0,critical,criticalhigh,0,1
4,4,1233,Dinosol 9338 Valle San Lorenzo,Dinosol 9338:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,9338,No Region,8323346,clearedautomatic,846,--- High Temp.,2021-05-02 20:28:05.000,2021-05-02 21:31:09.000,0,critical,criticalhigh,0,1

In [4]:
alarms.shape

(8426, 17)

In [5]:
global_id[global_id['SiteID']==89247].head()

,Unnamed: 0,SiteID,SiteName,AssetID,AssetName,PointID,ParameterName,ParameterValue,ParameterUnits,TimeTag,PropertyName,CategoryId,TimeZone
154322,0,89247,9303 Aulaga (SM),89450,CENTRAL NEGATIVA AA,547692,CENTRAL NEGATIVA: Comp Requested Cap,63,percent,2021-08-01 00:05:00.000,GLOBAL_ID,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].pnum_42...,"(GMT) Casablanca, Monrovia"
154323,1,89247,9303 Aulaga (SM),89450,CENTRAL NEGATIVA AA,547692,CENTRAL NEGATIVA: Comp Requested Cap,51,percent,2021-08-01 00:15:00.000,GLOBAL_ID,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].pnum_42...,"(GMT) Casablanca, Monrovia"
154324,2,89247,9303 Aulaga (SM),89450,CENTRAL NEGATIVA AA,547692,CENTRAL NEGATIVA: Comp Requested Cap,18,percent,2021-08-01 00:25:00.000,GLOBAL_ID,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].pnum_42...,"(GMT) Casablanca, Monrovia"
154325,3,89247,9303 Aulaga (SM),89450,CENTRAL NEGATIVA AA,547692,CENTRAL NEGATIVA: Comp Requested Cap,23,percent,2021-08-01 00:35:00.000,GLOBAL_ID,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].pnum_42...,"(GMT) Casablanca, Monrovia"
154326,4,89247,9303 Aulaga (SM),89450,CENTRAL NEGATIVA AA,547692,CENTRAL NEGATIVA: Comp Requested Cap,62,percent,2021-08-01 00:45:00.000,GLOBAL_ID,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].pnum_42...,"(GMT) Casablanca, Monrovia"

In [6]:
global_id['ParameterValue'] = global_id['ParameterValue'].apply(lambda x: float(x.split()[0].replace(',', '.')))
global_id = global_id.groupby(['CategoryId','AssetName'])['ParameterValue'].mean()
global_id = pd.DataFrame(global_id,columns={'ParameterValue'}).reset_index()
global_id['CategoryId']=[i.split('.p')[0] for i in global_id['CategoryId']]

In [7]:
global_id

,CategoryId,AssetName,ParameterValue
0,Dinosol 9303:0:SYS.EG.EM[1],Red General,1.841564e+06
1,Dinosol 9303:0:SYS.EG.EM[1],Red General,9.077986e+01
2,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,019:CB CONG Pescado,-2.000000e+01
3,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,019:CB CONG Pescado,3.798611e+00
4,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,019:CB CONG Pescado,-1.727778e+01
...,...,...,...
794,Dinosol 9600:0:SYS.RKS.RK[5].SGS.SG[1].CTS.CT[...,106:RecUnidEmergGrp,8.298611e+00
795,Dinosol 9600:0:SYS.RKS.RK[5].SGS.SG[1].CTS.CT[...,106:RecUnidEmergGrp,1.981528e+01
796,Dinosol 9600:0:SYS.RKS.RK[5].SGS.SG[1].CTS.CT[...,106:RecUnidEmergGrp,1.704000e+02
797,Dinosol 9600:0:SYS,9600 Almacen,-1.780000e+01
798,Dinosol 9600:0:SYS,9600 Almacen,-1.780000e+01

In [8]:
merge = pd.merge(global_id,alarms,left_on='CategoryId',right_on='description')
merge['reportedtime'] = pd.to_datetime(merge['reportedtime'])
merge['receivedtime'] = pd.to_datetime(merge['receivedtime'])
merge.head()

,CategoryId,AssetName,ParameterValue,Unnamed: 0,SiteID,SiteName,description,StoreNumber,Division,LogID,Cleared_Action,ReasonID,ReasonText,reportedtime,receivedtime,severity,severitytext,severityphrase,Repeated_Count,Total_Alarm_Count
0,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,002:C CONGELADOS,-20.0,85,1229,Dinosol 9303 Aulaga,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,9303,No Region,7710265,clearedautomatic,846,--- High Temp.,2021-01-09 21:12:37,2021-01-09 22:13:52,0,critical,criticalhigh,0,1
1,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,002:C CONGELADOS,-20.0,410,1229,Dinosol 9303 Aulaga,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,9303,No Region,7850723,clearedautomatic,846,--- High Temp.,2021-02-09 12:02:57,2021-02-09 13:04:22,0,critical,criticalhigh,0,1
2,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,002:C CONGELADOS,-20.0,1442,1229,Dinosol 9303 Aulaga,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,9303,No Region,8215703,clearedautomatic,846,--- High Temp.,2021-04-16 11:32:02,2021-04-16 12:32:28,0,critical,criticalhigh,0,1
3,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,002:C CONGELADOS,-20.0,1590,1229,Dinosol 9303 Aulaga,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,9303,No Region,8295964,clearedautomatic,846,--- High Temp.,2021-04-28 10:57:00,2021-04-28 11:57:24,0,critical,criticalhigh,0,1
4,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,002:C CONGELADOS,-20.0,99,1229,Dinosol 9303 Aulaga,Dinosol 9303:0:SYS.RKS.RK[1].SGS.SG[1].CTS.CT[...,9303,No Region,8355387,clearedautomatic,846,--- High Temp.,2021-05-07 12:27:30,2021-05-07 13:28:16,0,critical,criticalhigh,0,1

In [10]:
merge[merge['SiteID']==1229]

In [8]:
merge.SiteID.value_counts()

1229    13294
780      7911
1231     6902
1233     1203
Name: SiteID, dtype: int64

In [9]:
merge_temp= pd.merge(merge,temp,right_on='AssetName',left_on='AssetName')

In [10]:
pd.DataFrame(merge_temp[(merge_temp['Group']=='milk/charcuterie')&(merge_temp['SiteID']==1229)].groupby(['reportedtime','ReasonText','AssetName'])['Total_Alarm_Count'].count().unstack('AssetName').fillna(0)).reset_index()#.to_csv('Data\Processed\\aulaga_charcuterie_alarms.csv')

AssetName,reportedtime,ReasonText,034:C Charcuteria,039:C Panaderia,057:M Charcuteria 1,058:M Charcuteria 2,059:M Quesos 1,060:CSM Quesos,061:SM Charcuteria 1,062:SM Quesos,...,064:SM Quesos 2,065:SM Quesos 3,066:CSM PLS,067:SM PLS,072:V Quesos,073:V Charcuteria 1,078:M Lacteos 1,079:M Lacteos 2,080:M Lacteos 3,081:M Lacteos 4
0,2020-07-16 11:01:39,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,0.0
1,2020-07-16 11:36:22,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2020-07-16 12:19:02,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
3,2020-07-16 12:36:27,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
4,2020-07-16 12:59:29,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,2021-08-27 17:50:44,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1323,2021-08-27 19:55:26,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1324,2021-08-28 09:16:14,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325,2021-08-30 12:47:27,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1326,2021-08-30 17:00:24,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
freezer = pd.DataFrame(merge_temp[(merge_temp['Group']=='milk/charcuterie')&(merge_temp['SiteID']==1229)].groupby(['reportedtime','ReasonText','AssetName'])['Total_Alarm_Count'].count().unstack('AssetName').fillna(0)).reset_index()

In [19]:
freezer

AssetName,reportedtime,ReasonText,034:C Charcuteria,039:C Panaderia,057:M Charcuteria 1,058:M Charcuteria 2,059:M Quesos 1,060:CSM Quesos,061:SM Charcuteria 1,062:SM Quesos,...,064:SM Quesos 2,065:SM Quesos 3,066:CSM PLS,067:SM PLS,072:V Quesos,073:V Charcuteria 1,078:M Lacteos 1,079:M Lacteos 2,080:M Lacteos 3,081:M Lacteos 4
0,2020-07-16 11:01:39,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,0.0
1,2020-07-16 11:36:22,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2020-07-16 12:19:02,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
3,2020-07-16 12:36:27,--- High Temp.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
4,2020-07-16 12:59:29,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,2021-08-27 17:50:44,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1323,2021-08-27 19:55:26,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1324,2021-08-28 09:16:14,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325,2021-08-30 12:47:27,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1326,2021-08-30 17:00:24,--- High Temp.,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
freezer.ReasonText.value_counts()

--- High Temp.    583
Offline            18
Standby mode        4
Name: ReasonText, dtype: int64

In [30]:
f=freezer.loc[freezer['reportedtime']<='2020-09-30']

In [17]:
import matplotlib.pyplot as plt

In [31]:
f[['reportedtime','079:M Lacteos 2']].loc[ (f['079:M Lacteos 2']>0) ]

AssetName        reportedtime  079:M Lacteos 2
0         2020-07-16 11:01:39              5.0
15        2020-07-17 01:13:09              5.0
17        2020-07-17 02:55:54              5.0
18        2020-07-17 07:24:35              5.0
32        2020-07-18 07:18:29              5.0
..                        ...              ...
776       2020-09-25 10:08:23              5.0
779       2020-09-25 14:14:26              5.0
780       2020-09-25 19:06:34              5.0
782       2020-09-26 07:14:08              5.0
786       2020-09-26 12:03:16              5.0

[111 rows x 2 columns]